.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    margin: 40px 0px;
}

.key {
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: #040b11;
    margin: 4px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.key:active {
    border-radius: 20px;
    background-color: #476f93;
}

.keyboard {
    background-color: #00bfff;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #040b11;
}

.row {
  display: flex;
  align-items: baseline;
}

.space {
    width: 100px;
}

.textarea {
    display: flex;
    width: 890px;
    height: 180px;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
}


